.home-container, .office-container, .public-office {
  padding: 0.5rem;
  background: var(--bg);
  color: var(--text);
  height: auto;
  margin-left: 0;
  margin-top: 70px;
  transition: margin-left 0.3s ease;
  position: absolute;
  box-sizing: border-box;
}

/* Sidebar adjustment for large screens */
@media (min-width: 768px) {
  .home-container, .office-container, .public-office {
    display: grid;
    grid-template-columns: 250px auto;
    height: auto;
    width:  100%;
    padding: 2rem;
  }
  
}

/*
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.modal-actions {
  text-align: right;
}

.modal-actions button {
  padding: 8px 12px;
  margin-left: 10px;
}
*/


